@use '../../../shared/index.scss' as *;

.key-metrics {
  padding-top: 7px;
  animation: fade-in linear;
  animation-timeline: view();
  margin: 0 0 107px;

  &__wrapper {
    width: 100%;
    margin: 0 auto;
    background-color: $bg-card;
    border-radius: 32px;
    padding: 8px 24px 8px 32px;
    position: relative;

    &::after {
      content: '';
      width: 100%;
      height: 100%;
      background-color: inherit;
      border-radius: 32px;
      position: absolute;
      left: 0;
      top: 0;
      filter: blur(11px);
      z-index: -1;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr repeat(3, minmax(auto, 265px));
    column-gap: 68px;

    @media (max-width: 1024px) {
     gap: 35px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    padding: 8px;
    justify-content: flex-end;
    width: 100%;

    &:not(:first-child) {
      align-items: flex-end;
      position: relative;

      &::after {
        content: '';
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $dividers;
      }
    }
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    max-width: 161px;
    width: 100%;
    flex-grow: 1;

    
  }

  &__value {
    font-weight: $medium;
    font-size: $fs-40;
    line-height: 150%;
    color: $title;
    text-align: center;
  }

  &__label {
    text-align: center;
    font-size: $fs-16;
    line-height: 150%;
    color: $sec-TX;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 1;
  }
}
