@use '../../index.scss' as *;

.nav-menu {
  &__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
  }

  &__item {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 73px;
      height: 50px;
      top: -50px;
      left: 50%;
      transform: translateX(-50%);
      filter: blur(40px);
      background: rgba($primary, 0.5);
      opacity: 0;
      z-index: -1;
      transition: opacity 0.3s ease-in-out;
    }

    &--active {
      position: relative;

      &::after {
        opacity: 1;
        z-index: 0;
      }

      .nav-menu__link {
        color: $primary;
      }
    }
  }
  &__link {
    transition: color 0.3s ease-in-out;
    line-height: 100%;
  }

  &__title {
    font-weight: $semi-bold;
    font-size: $fs-20;
    line-height: 100%;
    color: $title;
  }
}
