@use '../../index.scss' as *;

.button {
  @include reset-button;
  border-radius: $radius-4;
  font-weight: 500;
  font-size: $fs-14;
  width: 100%;

  &--primary {
    background-color: $primary;
    color: $primary-BC;
  }

  &--secondary {
    background-color: transparent;
    border: 1px solid $sec-TX;
    color: $title;
  }
}
