.social-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 8px;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px 10px;

    > svg {
      width: 24px;
      height: 24px;
    }
  }
}
