// COLORS

// Primary
$primary: #ffc107;
$primary-T1: #fff9e6;
$primary-T2: #fff3cd;
$primary-T3: #ffecb5;
$primary-T4: #ffe69c;
$primary-T5: #ffda6a;
$primary-T6: #ffcd39;
$primary-S1: #cc9a06;
$primary-S2: #997404;
$primary-S3: #664d03;
$primary-S3: #4d3a02;

// Secondary
$secondary: #00acc1;
$secondary-T1: #d3f5f9;
$secondary-T2: #bbedf3;
$secondary-T3: #a4e5ec;
$secondary-T4: #8cdde6;
$secondary-T5: #5eccda;
$secondary-T6: #2fbccd;
$secondary-S1: #008a9a;
$secondary-S2: #006774;
$secondary-S3: #00454d;
$secondary-S4: #00343a;

// SEMANTIC

// Error
$error: #d32f2f;
$error-T1: #fbeaea;
$error-T2: #f6d5d5;
$error-T3: #f2c1c1;
$error-T4: #edacac;
$error-T5: #e58282;
$error-T6: #dc5959;
$error-S1: #a92626;
$error-S2: #7f1c1c;
$error-S3: #541313;
$error-S4: #3f0e0e;
// Sell
$sell: #e53935;

// Warning
$warning: #ffb74d;
$warning-T1: #fff8ed;
$warning-T2: #fff1db;
$warning-T3: #ffe9ca;
$warning-T4: #ffe2b8;
$warning-T5: #ffd494;
$warning-T6: #ffc571;
$warning-S1: #d3973e;
$warning-S2: #a7772e;
$warning-S3: #7c561f;
$warning-S3: #664617;

// Success
$success: #4caf50;
$success-T1: #edf7ee;
$success-T2: #dbefdc;
$success-T3: #c9e7cb;
$success-T4: #b7dfb9;
$success-T5: #94cf96;
$success-T6: #70bf73;
$success-S1: #3d8c40;
$success-S2: #2e6930;
$success-S3: #1e4620;
$success-S4: #173518;

// Buy
$buy: #388e3c;

// NEUTRAL
$title: #f5f5f5;
$primary-TX: #e0e0e0;
$sec-TX: #bdbdbd;
$dividers: #333333;
$sec-BC: #1a1919;
$primary-BC: #141414;
$bg-card: #1c1c1c;
