@use '../../../shared/index.scss' as *;

.custom-input {
  position: relative;
  width: 100%;

  svg {
    position: absolute;
    top: 50%;
    right: 24px;
    width: 24px;
    height: 24px;
    color: $sec-TX;
    pointer-events: none;
    user-select: none;
    transform: translateY(-50%);
  }

  &__field {
    width: 100%;
    min-height: 56px;
    padding: 14px 48px 14px $padding-3;
    background-color: $dividers;
    border: 1px solid transparent;
    border-radius: $radius-4;
    font-size: $fs-16;
    color: $sec-TX;
    transition: border-color 0.3s ease-in-out,
      padding-left 0.2s cubic-bezier(0, 0, 0.5, 1);

    &::placeholder {
      color: $sec-TX;
    }

    &:is(:focus-visible, :hover, :active) {
      outline: none;
      border-color: $primary;
    }
  }

  &--search {
    svg {
      left: 24px;
      width: 16px;
      height: 16px;
      color: $text;
      transition: opacity 0.2s ease;
    }

    .custom-input__field {
      min-height: 40px;
      padding: 8.5px $padding-3 8.5px 48px;
      font-size: $fs-14;
      color: $title;

      &::placeholder {
        color: $text;
      }
    }

    &:has(.custom-input__field:not(:placeholder-shown)) {
      .custom-input__field {
        padding-left: $padding-3;
      }

      svg {
        opacity: 0;
      }
    }
  }
}
