@use '../../../shared/index.scss' as *;

.custom-input {
  position: relative;
  width: 100%;

  svg {
    position: absolute;
    top: 50%;
    right: 24px;
    width: 24px;
    height: 24px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    color: $sec-TX;
  }

  &__field {
    width: 100%;
    border-radius: $radius-4;
    background-color: $dividers;
    font-size: $fs-16;
    color: $sec-TX;
    padding: 14px 48px 14px $padding-3;
    border: 1px solid transparent;
    -webkit-transition: border-color 0.3s ease-in-out,
      padding-left 0.2s cubic-bezier(0, 0, 0.5, 1);
    -o-transition: border-color 0.3s ease-in-out,
      padding-left 0.2s cubic-bezier(0, 0, 0.5, 1);
    transition: border-color 0.3s ease-in-out,
      padding-left 0.2s cubic-bezier(0, 0, 0.5, 1);
    min-height: 56px;

    &:is(
        ::placeholder,
        ::-webkit-input-placeholder,
        ::-moz-placeholder,
        :-ms-input-placeholder,
        ::-ms-input-placeholder
      ) {
      color: $sec-TX;
    }

    &:is(:focus-visible, :hover, :active) {
      outline: none;
      border-color: $primary;
    }
  }
  &--search {
    svg {
      width: 16px;
      height: 16px;
      left: 24px;
      color: $text;
      -webkit-transition: opacity 0.2s ease;
      -o-transition: opacity 0.2s ease;
      transition: opacity 0.2s ease;
    }

    .custom-input__field {
      padding: 8.5px $padding-3 8.5px 48px;
      color: $title;
      min-height: 40px;
      font-size: $fs-14;

      &:is(
          ::placeholder,
          ::-webkit-input-placeholder,
          ::-moz-placeholder,
          :-ms-input-placeholder,
          ::-ms-input-placeholder
        ) {
        color: $text;
      }
    }

    &:has(.custom-input__field:not(:placeholder-shown)) {
      .custom-input__field {
        padding-left: $padding-3;
      }

      svg {
        opacity: 0;
      }
    }
  }
}
