@use '../../../shared/index.scss' as *;

.custom-input {
  position: relative;
  width: 100%;

  &__label {
    height: 100%;
    width: 100%;
    display: block;
  }

  &__field {
    width: 100%;
    min-height: 56px;
    padding: 14px 48px 14px $padding-3;
    background-color: $dividers;
    border: 1px solid transparent;
    border-radius: $radius-4;
    font-size: $fs-16;
    color: $title;
    transition:
      border-color 0.3s ease-in-out,
      padding-left 0.2s cubic-bezier(0, 0, 0.5, 1);

    &::placeholder {
      color: $sec-TX;
    }

    &:is(:focus-visible, :hover, :active) {
      outline: none;
      border-color: $primary;
    }

    &:-webkit-autofill {
      -webkit-text-fill-color: $title;
      box-shadow: 0 0 0px 1000px $dividers inset;
      transition: background-color 5000s ease-in-out 0s;
      border-color: $primary;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  &--search {
    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 24px;
      width: 16px;
      height: 16px;
      color: $text;
      pointer-events: none;
      user-select: none;
      transition: opacity 0.2s ease;
    }

    .custom-input__field {
      min-height: 40px;
      padding: 8.5px $padding-3 8.5px 48px;
      font-size: $fs-14;

      &::placeholder {
        color: $text;
      }
    }

    &:has(.custom-input__field:not(:placeholder-shown)) {
      .custom-input__field {
        padding-left: $padding-3;
      }

      svg {
        opacity: 0;
      }
    }
  }

  &__password-toggle {
    @include reset-button;
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);

    svg {
      width: 24px;
      height: 24px;
    }
  }

  &__error-message {
    margin-top: 4px;
    font-size: $fs-14;
    color: $error;
    position: absolute;
    top: 100%;
    left: 24px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &--error {
    position: relative;

    .custom-input__error-message {
      opacity: 1;
    }

    .custom-input__field {
      border-color: $error;
    }
  }

  &--success {
    .custom-input__field {
      border-color: $success;
    }
  }
}
