@use '../index.scss' as *;

.nav-menu {
  &__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }

  &__item {
    padding: 10px;

    &--active {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 73px;
        height: 50px;
        top: -50px;
        left: 50%;
        transform: translateX(-50%);
        filter: blur(40px);
        background: rgba($primary, 0.5);
        z-index: -1;
      }

      .nav-menu__link {
        color: $primary;
      }
    }
  }

  &__link {
    font-size: $fs-18;
    line-height: 100%;
    color: $sec-TX;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $primary;
    }
  }
}
