.loader-wrapper {
  transform: translateY(50%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 100%;
  max-width: 1400px;
  margin: 2rem;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  font-size: 5em;
  font-weight: 600;
  user-select: none;
  color: #fff;
}

.loader-letter {
  display: inline-block;
  opacity: 0;
  animation: loader-letter-anim 4s infinite linear;
  z-index: 2;
}

.loader-letter:nth-child(1) {
  animation-delay: 0.1s;
}
.loader-letter:nth-child(2) {
  animation-delay: 0.205s;
}
.loader-letter:nth-child(3) {
  animation-delay: 0.31s;
}
.loader-letter:nth-child(4) {
  animation-delay: 0.415s;
}
.loader-letter:nth-child(5) {
  animation-delay: 0.521s;
}

@keyframes loader-letter-anim {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
    text-shadow: 0 0 4px #fff;
    transform: scale(1.1) translateY(-2px);
  }
  20% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}
