.loader {
  max-width: 100vw;
  height: calc(100vh - 104px);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.coin {
  position: relative;
  width: 50vw;
  height: 50vw;
  aspect-ratio: 1 / 1;
  max-width: 250px;
  max-height: 250px;
  -webkit-animation: flip 2s infinite;
  animation: flip 2.5s infinite;
}

.engraving {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5); /* Engraving color */
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5); /* Engraving shadow */
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes flip {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
