.market-trend {
  &__cell {
    &--coin-rating {
    }
    &--coin-name {
    }
    &--coin-price {
    }
    &--coin-changes {
    }
    &--chart {
    }
    &--link-trade {
    }
  }
  &__coin-info {
  }
  &__table {
  }
  &__table-header {
  }
}
