@use '../../../shared/index.scss' as *;

.notfound {
  background-image: url('/images/notfound-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 104px);

  &__wrapper {
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(12, 12, 12, 0.01) 0%,
      #141414 100%
    );
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 1173px;
    max-height: 374px;
    position: relative;
    margin: 0 0 80px;

    &::after,
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      border-radius: 200px;
    }

    &::before {
      max-width: 663px;
      max-height: 323px;
      background: rgba(0, 0, 0, 0.1);
      border: 1px solid #999999;
    }

    &::after {
      max-width: 691px;
      max-height: 353px;
      border: 1px solid rgba(255, 255, 255, 0.2);
    }
  }

  &__arc-right,
  &__arc-left {
    bottom: 2px;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 438px;
    max-height: 374px;

    @media (max-width: 1024px) {
      width: 285px;
    }

    img {
      width: 100%;
      height: 100%;
      user-select: none;
      pointer-events: none;
    }
  }

  &__arc-right {
    right: 0;
  }

  &__arc-left {
    left: 0;
  }

  &__title,
  &__description {
    background: linear-gradient(180deg, #cccccc -22.18%, #666666 100%);
    background-clip: text;
    color: #cccccc;
  }

  &__title {
    z-index: 11;
    font-weight: 400;
    font-size: 140px;
    letter-spacing: -0.035em;
    line-height: 120%;
    text-align: center;
    margin: 0;
  }

  &__description {
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    color: #999999;
    margin: 0 0 24px;
  }

  &__link {
    color: #141414;
    background-color: #ffc107;
    text-align: center;
    border-radius: 32px;
    justify-content: center;
    align-items: center;
    min-width: 117px;
    min-height: 48px;
    padding: 13.5px 32px;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: inset 0px 20px 25px 25px rgb(255, 187, 0);
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }
}
