@forward './variables/colors';
@forward './variables/typography';

//CORNER
$radius-1: 8px;
$radius-2: 16px;
$radius-3: 24px;
$radius-4: 32px;

// SPACING
$space-1: 8px;
$space-2: 16px;
$space-3: 24px;
$space-4: 32px;
$space-5: 40px;
$space-6: 56px;
$space-7: 72px;
$space-8: 80px;
$space-9: 96px;
$space-10: 120px;

// PADDING
$padding-1: $space-1;
$padding-2: $space-2;
$padding-3: $space-3;
$padding-4: $space-4;
$padding-5: $space-5;
$padding-6: 48px;
$padding-7: $space-6;
