@use '../../../../shared//index.scss' as *;

.auth-form {
  display: flex;
  flex-direction: column;
  gap: $space-5;
  margin-bottom: $space-2;
  position: relative;

  &__inputs-group {
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
    gap: $space-4;
  }

  &__submit-button {
    padding: 15px;
    min-height: 56px;
    font-size: $fs-16;
  }

  &__mode-switch {
    display: flex;
    align-items: center;

    &-text {
      font-size: $fs-14;
      color: $sec-TX;
      margin-right: $space-1;
    }

    &-link {
      transition:
        color 0.3s ease-in-out,
        text-decoration 0.3s ease-in-out;
      max-width: fit-content;
      font-size: 16px;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
        color: $primary;
      }
    }
  }

  &__error {
    color: $error;
    font-size: $fs-24;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -40px;
    display: block;
    width: 100%;
    text-align: center;
  }
}
