@forward '../shared/styles/normalize';
@use '../shared/index.scss' as *;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-poppins);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-weight: $regular;
  font-size: $fs-20;
  margin: 0;
  padding: 0;
  background-color: $primary-BC;
  color: $title;
}

main {
  flex-grow: 1;
}

img {
  display: block;
  height: auto;
  object-fit: cover;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

textarea {
  resize: none;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 24px;
  margin: 0 auto;
}

.select-word {
  color: $primary;
}
