@forward '../shared/styles/normalize';
@use '../shared/index.scss' as *;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body {
  font-family: var(--font-poppins);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-weight: $regular;
  font-size: $fs-20;
  margin: 0;
  padding: 0;
  background-color: $primary-BC;
  color: $title;
}

main {
  flex-grow: 1;
}

img {
  display: block;
  height: auto;
  object-fit: cover;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

textarea {
  resize: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 24px;
  margin: 0 auto;

  &--narrow {
    max-width: 1272px;
  }
}

.select-word {
  color: $primary;
}
