@use '../../../../shared//index.scss' as *;

.button {
  width: 24px;
  height: 24px;
  outline: none;

  &:is(:focus-visible, :hover) {
    .icon {
      color: $primary;
    }
  }
}

.icon {
  width: 24px;
  height: 24px;
  transition: color 0.3s ease;
}
