@use '../../../shared//index.scss' as *;

.coin-list {
  $list: &;
  display: flex;
  flex-direction: column;
  padding: 6px 10px 0 6px;
  margin: -6px -10px 0 -6px;
  max-height: 304px;
  overflow-y: auto;
  list-style: none;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  transition: scrollbar-color 0.3s ease-in-out;

  &:hover {
    scrollbar-color: $primary $bg-card;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: $bg-card;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 10px;
  }

  &__content {
    display: flex;
    align-items: center;
    width: 100%;
    gap: $space-1;
  }

  &__link {
    @extend #{$list}__content;
    justify-content: space-between;
    font-size: $fs-16;
    position: relative;
    min-height: 40px;

    &::after {
      content: '';
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% + 12px);
      height: 100%;
      background-color: $primary-BC;
      border-radius: $radius-4;
      transition: opacity 0.3s ease-in-out;
      z-index: -1;
    }

    &:hover {
      &::after {
        opacity: 1;
      }
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: $space-1;
    min-width: fit-content;
  }

  &__price {
    width: 100%;
    max-width: 85px;
    margin-left: auto;
    font-variant-numeric: tabular-nums;
  }

  &__price-change {
    min-width: 65px;
    text-align: right;
  }

  &__icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }

  &__favorite-button {
    @include reset-button;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:hover {
      #{$list}__favorite-icon {
        opacity: 0;

        &--filled {
          opacity: 1;
        }
      }
    }
  }

  &__favorite-icon {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease-in-out;

    &--filled {
      opacity: 0;
    }
  }
}
