.logo-link {
  display: flex;
  align-items: center;

  &--header {
    width: 106px;
    height: 36px;
  }

  &--footer {
    width: 140px;
    height: 51px;
  }

  &--auth {
    width: 132px;
    height: 60px;
  }

  img {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
  }
}
