@use '../../src/shared/index.scss' as *;

.auth-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 600px;

    :global(.logo-link) {
      align-self: center;
      margin-bottom: $space-4;
    }
  }
}
