@use '../../../shared/index.scss' as *;

.header {
  background-color: $primary-BC;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px $space-4;
  }

  &__main-navigation {
    display: flex;
    align-items: center;
    gap: $space-4;

    .nav-menu {
      &__list {
        align-items: center;
        justify-content: center;
        gap: $space-4;
      }

      &__item {
        padding: 10px;
      }

      &__link {
        font-size: $fs-18;
        color: $sec-TX;

        &:hover {
          color: $primary;
        }
      }
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: $space-3;
  }

  &__actions {
    position: relative;
    display: flex;
    align-items: center;
    gap: $space-4;
  }

  &__action-button {
    @include reset-button;
    width: 24px;
    height: 24px;

    &--notification {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        top: 3;
        right: 2;
        background-color: $error;
        border-radius: 50%;
      }
    }

    > svg {
      color: $title;
      transition: color 0.3s ease-in-out;
    }

    &:hover {
      > svg {
        color: $primary;
      }
    }
  }

  &__auth {
    display: flex;
    align-items: center;
    gap: $space-2;
  }

  &__auth &__auth-link {
    min-width: 117px;
    min-height: 48px;
    padding: 12.5px $padding-4;
  }
}
