@use '../../../shared/index.scss' as *;

.hero {
  overflow: hidden;
  height: calc(100vh - 104px);

  &__wrapper {
    display: grid;
    grid-template-columns: minmax(auto, 672px) minmax(auto, 683px);
    grid-template-rows: 706px;
    justify-content: center;
    position: relative;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 672px;
    padding-top: 101px;
  }

  &__title {
    margin: 0 0 $space-2;
    font-size: $fs-54;
    font-weight: $semi-bold;
    line-height: 80px;
  }

  &__advantages {
    display: flex;
    gap: $space-2;
    margin: 0 0 67px;
    font-size: $fs-24;
    font-weight: $medium;
    line-height: 34px;
    color: $sec-TX;
  }

  &__button-cta {
    @include reset-button;
    position: relative;
    min-width: 247px;
    min-height: 56px;
    margin: 0 0 0 9px;
    padding: 14.5px 64px;
    background-color: #ffc107;
    background-image: radial-gradient(
      circle at 50% 120%,
      rgba(255, 255, 255, 0) 53.57%,
      rgba(255, 255, 255, 0.2) 100%
    );
    border-radius: $radius-4;
    font-size: $fs-18;
    font-weight: $medium;
    line-height: 100%;
    color: $primary-BC;
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 0 0 4px $primary-BC, 0 0 0 5px rgba($primary, 0.5);
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1000;
      width: calc(100% + 12px);
      height: calc(100% + 12px);
      border: 1px solid #574b29;
      border-radius: 69px;
      transform: translate(-50%, -50%);
    }

    &::before {
      content: '';
      position: absolute;
      bottom: -26px;
      left: 50%;
      z-index: -111;
      width: 100%;
      height: 88px;
      background-color: $primary;
      border-radius: 50%;
      filter: blur(27.8px);
      opacity: 0.3;
      transform: translateX(-50%);
    }
  }

  &__earth-wrapper {
    position: absolute;
    top: 0;
    right: -11%;
    width: 727px;
    height: 706px;

    &::after {
      content: '';
      position: absolute;
      bottom: 35%;
      right: 12%;
      width: 238px;
      height: 238px;
      background: rgba(255, 175, 52, 0.2);
      border-radius: 50%;
      filter: blur(249px);
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 35%;
      right: 12%;
      width: 238px;
      height: 238px;
      background: rgba(255, 175, 52, 0.2);
      border-radius: 50%;
      filter: blur(100px);
    }
  }

  &__earth-big {
    position: absolute;
    left: 5%;
    top: -4%;
    opacity: 0.7;
  }

  &__earth-medium {
    position: absolute;
    left: 55%;
    top: 10%;
    opacity: 0.7;
    transform: translateX(-50%);
  }

  &__earth-small {
    position: absolute;
    left: 33%;
    bottom: 20%;
    opacity: 0.7;
  }
}
