@use '../../index.scss' as *;

.custom-checkbox {
  width: 100%;

  &__label {
    display: flex;
    align-items: center;
    gap: $space-1;
    width: fit-content;
    cursor: pointer;
    user-select: none;

    &:hover .custom-checkbox__box {
      border-color: $primary;
    }
  }

  &__field {
    &:checked + .custom-checkbox__box {
      background-color: $primary;
      border-color: $primary;

      &::after {
        opacity: 1;
        transform: rotate(45deg) scale(1);
      }
    }

    &:focus-visible + .custom-checkbox__box {
      box-shadow: 0 0 0 2px rgba($primary, 0.3);
    }
  }

  &__box {
    position: relative;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    border: 1px solid $sec-TX;
    border-radius: 8px;
    background-color: transparent;
    transition: all 0.2s ease;

    &::after {
      content: '';
      position: absolute;
      left: 8px;
      top: 4px;
      width: 6px;
      height: 12px;
      border: solid #000;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg) scale(0);
      opacity: 0;
      transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__text {
    font-size: 14px;
    color: $sec-TX;
  }

  &--error {
    .custom-checkbox__box {
      border-color: $error;
    }

    .custom-checkbox__text {
      color: $error;
      transition: color 0.3s ease;
    }
  }
}
